%body
  %ul
    %li
      %a{href: '/flip'}Flip
    %li
      %a{href: '/popup'}Popup
    %li
      %a{href: '/flyin'}Flyin


  %ul
    %li
      %a{href: '/enter'}Enter
    %li
      %a{href: '/flipside'}Flip Side
    %li
      %a{href: '/bounce'}Bounce