!!!
%html
  %head
    %title Dominos
    %meta{:name => 'viewport', :content => 'width=device-width'}
    %link{:href => 'stylesheets/main.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => 'http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope', :rel => 'stylesheet', :type => 'text/css'}
  %body
    %div#content
      %div#wordRow
        %div#wordCell
          %div#word
            - @person = @wishes.select { |wish| wish[:name] == params[:name] }
            %h2 Hey Liviu, Bog & Family!
            %h1 Happy New Year!
            %h4 Thanks for putting up with me in 2013 - it was a blast! Wish you and your family a fantastic 2014 and looking forward to see you again soon!
            %h2.cheers Cheers, Pete C

      %div#peteRow
        %div#peteCell
          %p &nbsp;
          %p &nbsp;
          %p &nbsp;
          %div#pete

        -#Hello #{@person[0][:fullname]}
        -#Word #{@person[0][:word]}
