!!!
%html
  - if !params[:name].nil?
    - @person = @wishes.select { |wish| wish[:url] == params[:name] }
  %head
    %title Hey #{@person[0][:name]}, Happy New Year 2014 from Pete C!
    %meta{:name => 'viewport', :content => 'width=device-width'}
    %link{:href => 'stylesheets/main.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => 'http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope', :rel => 'stylesheet', :type => 'text/css'}
  %body
    %div#content
      %div#wordRow
        %div#wordCell
          %div#word
            %h2 Hey #{@person[0][:name]}!
            %h1 Happy New Year!
            - if !@person[0][:word].nil?
              %h4 #{@person[0][:word]}
            - else
              %h4 Thanks for putting up with me in 2013 - it was a blast! Wish you and your family a fantastic 2014 and looking forward to see you again soon!
            %h2.cheers Cheers, Pete C

      %div#peteRow
        %div#peteCell
          %p &nbsp;
          %p &nbsp;
          %p &nbsp;
          %div#pete



