!!!
%html
  %head
    %title Dominos
    %meta{:name => 'viewport', :content => 'width=device-width'}
    %link{:href => 'stylesheets/main.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => 'http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope', :rel => 'stylesheet', :type => 'text/css'}
    -#%script{type: "text/javascript", src: "//code.jquery.com/jquery-1.10.2.min.js"}
    -#%script{type: "text/javascript", src: "/js/script.js"}
  %body
    %div#bg
    -#%div#bgMask
      %div#bg
        -#%div.bg1
        -#%div.bg2


    %div#content

      %div#word
        %div#bubble
          - @person = @wishes.select { |wish| wish[:name] == params[:name] }
          %h2 Hey Liviu, Bog & Family!
          %h1 Happy New Year 2014!
          %h4 Thanks for putting up with me in 2013 - it was a blast! Wish you and your family a fantastic 2014 and looking forward to see you again soon!
          %h2 Cheers, PeteC


      %div#pete
        &nbsp;
        &nbsp;


        -#Hello #{@person[0][:fullname]}
        -#Word #{@person[0][:word]}
