@import "mixin"
@import "normalize.css"

html, body
  width: 100%
  height: 100%
  padding: 0
  margin: 0
  font-family: 'Annie Use Your Telescope', cursive

body

  //// To Do: Convert this to -ms and stuff

  #content
    width: 100%
    min-height: 100%
    background: black url('/img/bg.jpg') repeat-x
    background-size: cover
    padding: 15px
    @include hardware-accel
    -webkit-animation: loop 60s linear infinite


    #word
      padding: 20px
      border: 2px solid black
      background: rgba(255,255,255,0.9)
      //float: left
      @include border-radius(20px)

      h1, h2, h3, h4
        margin: 0
        padding: 0
      h1
        font-size: 35px
        margin-bottom: 20px
      .cheers
        text-align: right





  #pete
    background: red url('/img/pete.png') no-repeat
    float: left


@-webkit-keyframes loop
  0%
    background-position: 9999px
  100%
    backround-position: 0


//// To Do: Convert this to -ms and stuff

@media(max-width:350px)
@media(max-width:767px)
@media(min-width:768px)
@media(min-width:992px)
@media(min-width:1200px)
