.row:before, .row:after {
  content: "";
  display: table;
  line-height: 0; }

.row:after {
  clear: both; }

@font-face {
  font-family: PatrickHand;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/patrick-hand-400.eot");
  src: url("/fonts/patrick-hand-400.eot?#iefix") format("embedded-opentype"), url("/fonts/patrick-hand-400.woff") format("woff"), url("/fonts/patrick-hand-400.ttf") format("truetype"), url("/fonts/patrick-hand-400.svg#svgFontName") format("svg"); }

@font-face {
  font-family: CabinSketch;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/cabin-sketch-400.eot");
  src: url("/fonts/cabin-sketch-400.eot?#iefix") format("embedded-opentype"), url("/fonts/cabin-sketch-400.woff") format("woff"), url("/fonts/cabin-sketch-400.ttf") format("truetype"), url("/fonts/cabin-sketch-400.svg#svgFontName") format("svg"); }

body {
  padding: 0;
  margin: 0;
  background: black url("/img/structure/bg-main-tiled.jpg");
  background-attachment: fixed;
  color: white;
  font-family: "PatrickHand", "Comic Sans", "Chalkboard", cursive;
  font-size: 14px; }
  body h1 {
    font-family: "CabinSketch", "Comic Sans", "Chalkboard", cursive; }
  body #header {
    width: 100%; }
    body #header a {
      color: white;
      padding: 8px 15px 8px 25px;
      margin: 18px 10px 0 10px;
      float: left;
      background: transparent url("/img/structure/arrow-left-gray.gif") center left no-repeat;
      text-decoration: none; }
      body #header a:hover {
        text-decoration: underline; }
    body #header h1 {
      float: left; }
    body #header .logo {
      width: 36px;
      height: 36px;
      float: right;
      margin: 18px 10px 10px 10px; }
      body #header .logo img {
        width: 100%; }
  body #ingredients {
    background: black;
    border: 1px solid #a1a1a1;
    margin: 0 20px;
    height: 172px;
    overflow-x: scroll;
    overflow-y: hidden; }
    body #ingredients ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      float: left;
      margin-right: -999em;
      white-space: nowrap;
      position: relative; }
      body #ingredients ul li {
        float: left;
        display: inline;
        width: 80px;
        height: 75px;
        overflow: hidden;
        margin: 0;
        background: black;
        text-align: center;
        padding-top: 5px; }
        body #ingredients ul li:nth-child(even) {
          position: absolute;
          top: 80px; }
  body #ingredient-control {
    position: relative;
    background: blue; }
    body #ingredient-control #left, body #ingredient-control #right {
      position: absolute;
      width: 44px;
      height: 44px;
      background: #555555;
      border-radius: 22px;
      z-index: 999;
      top: 58px;
      color: white;
      line-height: 44px;
      font-size: 30px;
      text-align: center;
      text-decoration: none; }
      body #ingredient-control #left:hover, body #ingredient-control #left:active, body #ingredient-control #right:hover, body #ingredient-control #right:active {
        background: #898989; }
    body #ingredient-control #left {
      left: 0; }
    body #ingredient-control #right {
      right: 0; }
