
$red: #ff333a
$blue: #0078ae
$green: #5dbf3e
$grey1: #e5e5e5
$grey2: #ccc
$grey3: #b7b7b7
$grey4: #a1a1a1
$grey5: #898989
$grey6: #707070
$grey7: #555
$grey8: #363636


.row:before, .row:after
  content: ""
  display: table
  line-height: 0
.row:after
  clear: both


@font-face
  font-family: PatrickHand
  font-style: normal
  font-weight: 400
  src: url('/fonts/patrick-hand-400.eot')
  src: url('/fonts/patrick-hand-400.eot?#iefix') format('embedded-opentype'), url('/fonts/patrick-hand-400.woff') format('woff'), url('/fonts/patrick-hand-400.ttf')  format('truetype'), url('/fonts/patrick-hand-400.svg#svgFontName') format('svg')


@font-face
  font-family: CabinSketch
  font-style: normal
  font-weight: 400
  src: url('/fonts/cabin-sketch-400.eot')
  src: url('/fonts/cabin-sketch-400.eot?#iefix') format('embedded-opentype'), url('/fonts/cabin-sketch-400.woff') format('woff'), url('/fonts/cabin-sketch-400.ttf')  format('truetype'), url('/fonts/cabin-sketch-400.svg#svgFontName') format('svg')

@mixin arrow-right($size, $color:white)
  border-top: $size solid transparent
  border-bottom: $size solid transparent
  border-left: $size solid $color





@mixin hardware-accel
  -webkit-transform: translateZ(0px)
  -moz-transform: translateZ(0px)
  -ms-transform: translateZ(0px)
  -o-transform: translateZ(0px)
  transform: translateZ(0px)


@mixin perspective($i)
  -webkit-perspective: $i
  -moz-perspective: $i
  -ms-perspective: $i
  -o-perspective: $i
  perspective: $i

@mixin perspective-origin($x, $y)
  -webkit-perspective-origin: $x $y
  -moz-perspective-origin: $x $y
  -ms-perspective-origin: $x $y
  -o-perspective-origin: $x $y
  perspective-origin: $x $y

@mixin transition($i, $j:null)
  @if $j==null
    -webkit-transition: $i
    -moz-transition: $i
    -ms-transition: $i
    -o-transition: $i
    transition: $i
  @else
    -webkit-transition: $i, $j
    -moz-transition: $i, $j
    -ms-transition: $i, $j
    -o-transition: $i, $j
    transition: $i, $j

@mixin transform($i)
  -webkit-transform: $i
  -moz-transform: $i
  -ms-transform: $i
  -o-transform: $i
  transform: $i


@mixin transform-origin($x, $y)
  -webkit-transform-origin: $x $y
  -moz-transform-origin: $x $y
  -ms-transform-origin: $x $y
  -o-transform-origin: $x $y
  transform-origin: $x $y


///////////////////////////




// Constants

// $red: #ec1c23;
$red-dark: #d00007
$red-light: #ff373e

// $blue: #006491;
$blue-dark: #00405c
$yellow: #f1d225
$green: #5dbf3e

$red: #ff333a
$blue: #0078ae

$grey1: #f8f8f8
$grey2: #cccccc
$grey3: #b7b7b7
$grey4: #a1a1a1
$grey5: #898989
$grey6: #707070
$grey7: #555555
$grey8: #363636

@mixin font-light
  font-family: HelveticaNeue-Thin, Roboto-Thin, Helvetica, Arial, san-serif
  font-weight: normal

@mixin font-normal
  font-family: HelveticaNeue, Roboto, Helvetica, Arial, san-serif
  font-weight: normal

@mixin font-bold
  font-family: HelveticaNeue-CondensedBlack, RobotoCondensed-Bold, Helvetica, Arial, sans-serif
  font-weight: normal

@mixin font-victor
  font-family: Victor, HelveticaNueu, Roboto, Helvetica, Arial, sans-serif
  font-weight: normal

@mixin font-face
  font-family: Victor
  font-style: normal
  font-weight: normal
  src: url("../Fonts/victor.eot#") format("eot"), url("../Fonts/victor.woff") format("woff"), url("../Fonts/victor.ttf") format("truetype"), url("../Fonts/victor.svg#svgFontName") format("svg")


@mixin arrow-right($size, $color: white)
  border-top: $size solid transparent
  border-bottom: $size solid transparent
  border-left: $size solid $color

@mixin hardware-accel
  -webkit-transform: translateZ(0px)
  -moz-transform: translateZ(0px)
  -ms-transform: translateZ(0px)
  -o-transform: translateZ(0px)
  transform: translateZ(0px)


*
  box-sizing: border-box
  -webkit-touch-callout: none
  -webkit-user-select: none

h1, h2, h3, p, html, body
  padding: 0
  margin: 0

html, body
  height: 100%
  -webkit-overflow-scroll: touch
  position: relative

body
  background-color: black
  color: white
  font-size: 14px
  @include font-normal



@mixin border-radius($i:5px)
  -webkit-border-radius: $i
  -moz-border-radius: $i
  -khtml-border-radius: $i
  border-radius: $i