@mixin hardware-accel
  -webkit-transform: translateZ(0px)
  -moz-transform: translateZ(0px)
  -ms-transform: translateZ(0px)
  -o-transform: translateZ(0px)
  transform: translateZ(0px)

@mixin border-radius($i:10px)
  -webkit-border-radius: $i
  -moz-border-radius: $i
  -khtml-border-radius: $i
  border-radius: $i

*
  box-sizing: border-box